*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

header,
h1,
section h2,
section h3 {
    font-family: "Bungee", cursive;
}

body{
    background-color: black;
}

body,
input,
textarea, button {
    font-family: "Roboto", sans-serif;
}

header {
    padding: 16px;
    background-color: #fca523;
    color: #ecf0f1;
    width: 100%;
    margin-bottom: 2em;
    padding: 1%;
    top: 0;
    left: 0;
    position: fixed;
}

.titulo {
    margin-right: 20px;
}

.header-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: left;
}

.logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.logo{
    max-width: 30%;
}

nav {
    display: none;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 0px;
    margin-left: 50px;
}

nav ul {
    list-style: none;
    display: block;
    margin-left: 16px;
    font-size: 18px;
    color: #ecf0f1;
    position: relative;
}

.menu h1{
    font-size: 1.5em;
    right: 12px;
    position: fixed;
}

.menu button{
    width: 200px;
    position: fixed;
    align-items: center;
    right: 16px;
    top: 16px;
}

.container {
    max-width: 1024px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
}

/* Estilo 5 */
header .container {
    align-items: center;
    justify-content: space-between;
}

.about-section {
    width: 80%;
    margin: 56px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
}

.about-section img {
    width: 40%;
}

section {
    padding: 24px 0;
    color: #ce861a;
}

section h2 {
    margin-bottom: 16px;
}

h2 {
    padding-bottom: 2%;
    margin-bottom: 2em;
    border-bottom: 2px solid #fff;
}

.products {
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(4, 24.5%);
    column-gap: 2%;
}

.products img {
    max-width: 100%;
    width: 210px;
    align-items: baseline;
}

.element button{
    width: 210px;
}

.products p {
    padding: 2%;
}

.descricao{
    max-width: 180px;
    width: 100%;
    text-align: justify;
    padding: 2px;
}

.container p {
    margin: 0 0;
}

.titulo {
    font-weight: bold;
}

#contact .container {
    display: block;
}

.contato-metodos {
    display: flex;
    justify-content: space-between;
}

form input, 
form textarea,
button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    margin-right: 34px;
}

form textarea {
    resize: none;
    height: 180px;
}

button {
    background-color: #ce861a;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 12px;
    max-width: 100%;
}

button:hover {
    background-color: #fca523;;
}

input:focus, textarea:focus {
    outline-color: #fca523;
}

.midias {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 3%;
}

.redes-sociais img {
    height: 24px;
    margin-bottom: 20px;
}

.redes-sociais li {
    display: inline;
    margin-right: 8px;
}

.redes-sociais a {
    text-decoration: none;
}

.redes-sociais h3 {
    margin-top: 20px;
}

section h3 {
    margin-bottom: 16px;
}

footer {
    background-color: #fca523;
    color: #ecf0f1;
    padding: 16p 0x;
    font-weight: bold;
}

.menu a {
    color: #ce861a;
    padding-inline-start: 16px;
    padding-top: 32px;
    
}


@media screen and (max-width: 640px) {
    .container {
        max-width: 90%;
        width: 100%;
    }

    header {
        max-width: 100%;
    }

    .logo img {
        width: 100%;
        margin-right: 16px;
    }

    .titulo {
        width: 50%;
    }

    
    nav ul a {
        list-style: none;
        display: grid;
        margin-left: 16px;
        font-size: 18px;
        color: #ecf0f1;
        position: relative;
        font-size: 0.6em;
        padding: 0;
    }

    nav ul {
        padding: 0;
        margin-top: 36px;
        margin-left: 0;
        padding-top: 0%;
        height: 30%;
        justify-content: center;
        text-align: center;
    }
    
    .menu h1{
        font-size: 1.5em;
        right: 12px;
        position: fixed;
    }
    
    .menu button{
        width: 60px;
        position: fixed;
        align-items: baseline;
        right: 6px;
        top: 6px;
        padding: 6px;
        font-size: 0.8em;
    }
    .about-section {
        width: 80%;
        margin: 56px auto;
        display: block;
        align-items: center;
        justify-content: space-between;
        text-align: justify;
    }
    
    .about-section img {
        width: 90%;
    }

    .products {
        max-width: 90%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }
    
    .descricao{
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 300px;
    }

    .container p{
        margin: auto;
    }
    .products img {
        max-width: 100%;
        width: 300px;
    }

    .titulo {
        padding: 2%;
    }

    .midias {
        display: block;
    }
    
    .element button{
        width: 300px;
    }

    form input, 
    form textarea,
    form button {
    display: block;
    max-width: 80%;
    margin-bottom: 8px;
    padding: 8px;
    margin-right: 0px;
}
    .redes-sociais li {
        display: inline;
        margin-bottom: 8px;
        margin-left: 12px;
    }

    .contato-metodos {
        display: block;
        justify-content: center;
    }

    .titulo {
        margin-right: 0px;
    }

    h1{
        font-size: 1em;
    }

    header .container {
        align-items: center;
        justify-content: left;
    }

    footer {
        max-width: 100%;
    }
}


@media screen and (min-width: 641px) and (max-width: 1023px){
    .container{
        max-width: 90%;
        width: 100%;
    }

    header{
        max-width: 100%;
    }

    .header-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }

    .titulo h1 {
        width: 50%;
    }
    
    .logo img {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 30%;
    }

    .botao-menu {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 40px;
    }

    .menu button{
        font-size: 1em;
        padding: 2px;
        width: 100px;
        top: 12px;
    }

    nav ul {
        display: inline;
        margin-top: 50px;
        height: 50;
        font-size: 0.8em;
    }

    .titulo {
        margin-right: 0;
    }

    .menu li a{
        position: relative;
        font-size: 0.8em;
        align-items: end;
    }

    .products {
        max-width: 90%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        justify-items: center;
        text-align: center;
    }
    
    .descricao{
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 300px;
    }

    .container p{
        margin: auto;
    }

    .products img {
        max-width: 100%;
        width: 300px;
    }

    .element button {
        width: 300px;
        margin: 0 0;
        margin-bottom: 24px;
    }
}